* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url(images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.container {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo {
    cursor: pointer;
}
.menu-icon {
    cursor: pointer;
    width: 30px;
    margin-left: 40px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a {
    text-decoration: none;
    color: purple;
    font-size: 13px;
}
.row {
    display: flex;
    height: 88%;
    align-items: center;
    margin-top: 5%;
}
.col {
    flex-basis: 50%;
}
h1 {
    color: blueviolet;
}
p {
    color: blueviolet;
    line-height: 15px;
}
button {
    width: 180px;
    color: blueviolet;
    font-size: 13px;
    padding: 10px 0;
    background: lightskyblue;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 15px;
    cursor: pointer;
}
.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(images/pic-1.jpeg) ;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1 {
    background-image: url(images/pic-1.jpeg) ;
}
.card2 {
    background-image: url(images/pic-2.jpg) ;
}
.card3 {
    background-image: url(images/pic-3.jpg) ;
}
.card4 {
    background-image: url(images/pic-4.jpg) ;
}
.card:hover {
    transform: translateY(-10px);
}
h5 {
    color: white;
    text-shadow: 0 0 5px blue;
}
.card p {
    text-shadow: 0 0 5px blue;
    font-size: 10px;
}

